.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 100%;
    max-height: 100%;
    height: 700px;
    overflow-y: auto;
    position: relative;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.delete-build-text {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
}

.fav-build-img {
    width: 80%;
    margin: 15px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

/* .delete-build-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    border: none;
    background-color: #e74c3c;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-build-button:hover {
    background-color: #c0392b;
} */
