.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #2e3138;
    text-align: center;
    font-family: Arial, sans-serif;
}

.landing-page h1 {
    font-size: 3rem;
    color: white;
    margin-bottom: 20px;
}

.landing-page p {
    font-size: 1.5rem;
    color: #b6b6b6;
    margin-bottom: 40px;
}

.landing-page button {
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}
