.profile {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.profile-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    background-color: #333;
    width: 200px;
    border: solid 2px white;
    border-radius: 5px;
    padding: 5px;
}

.profile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    max-width: 50px;
}
.profile-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hidden {
    display: none;
}

.profile li {
    list-style-type: none;
    padding: 8px 16px;
    color: aliceblue;
}

.add-keeb-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
}
/* Container for all user links */
.user-links {
    display: flex;
    flex-direction: column; /* Aligns children vertically */
    padding: 20px;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Subtle shadow for depth */
    margin: 10px;
    color: aliceblue;
  }

  .user-links div {
    margin-bottom: 10px; /* Space between link containers */
  }

  /* Styles for each link */
  .user-links a {
    display: block; /* Makes the link fill the container */
    padding: 10px 20px; /* Padding for clickable area */
    background-color: #007BFF; /* Bootstrap primary blue */
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px; /* Rounded corners for links */
    font-weight: bold;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
  }

  /* Hover effect for links */
  .user-links a:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
  }

/* .keeb-link {
    text-decoration: none;
    color: aliceblue;
}

.part-link {
    text-decoration: none;
    color: aliceblue;
}

.fav-link {
    text-decoration: none;
    color: aliceblue;
} */

.profile-dropdown .profile-login-signup {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.profile-login-signup button {
    margin: 10px;
    width: 80px;
}
