.profile {
    display: flex;
    flex-direction: column;

}

.profile li {
    list-style-type: none;
    color: aliceblue;
}

.add-keeb-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
}

.keeb-link {
    text-decoration: none;
    color: aliceblue;
}

.part-link {
    text-decoration: none;
    color: aliceblue;
}
