.profile {
    display: flex;
    flex-direction: column;
    position: relative;
}

.profile-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    background-color: #333;
}
.hidden {
    display: none;
}
.profile li {
    list-style-type: none;
    color: aliceblue;
}

.add-keeb-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
}

.keeb-link {
    text-decoration: none;
    color: aliceblue;
}

.part-link {
    text-decoration: none;
    color: aliceblue;
}

.fav-link {
    text-decoration: none;
    color: aliceblue;
}
