.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    max-width: 700px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.add-build-text {
    margin: 10px
}

.select-build {
    margin: 10px
}
.selected-build-img {
    display: flex;
    justify-content: center;
    margin: 20px;
    width: 200px;
    height: 100px;
}
.error-message {
    color: red;
    margin: 10px
}
