.build-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.keeb-tile {
    flex-basis: calc(33.33% - 20px);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    margin-bottom: 20px;
}

li {
    list-style-type: none;
}

.keeb-tile img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.keeb-tile button {
    margin-top: 20px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: black;
}
