.update-keeb-name {
    width: 96%;
}

.update-keeb-img {
    width: 96%;
}

.update-keeb-description {
    width: 96%;
}

.current-keeb-image {
    max-width: 300px;
    max-height: 300px;
    border: solid 2px black;
    border-radius: 10px;
}
.update-keeb-image-label {
    margin-top: 20px;
}
.image-upload-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.update-keeb-image {
    width: 96%;
}
